$mobile: 320px;
$max-mobile: 767px;
$tablet: 768px;
$max-tablet: 1023px;
$desktop: 1024px;

// ========= colors
$white-color: #ffffff;
$black-color: #000000;

$grey-color: #8c8c8c;
$light-grey-color: #f7f7f7;
$dark-grey-color: #545454;

$accent-line: #ff6b08;
$accent-bg: #ff6b01;
$notice: #ff001b;
$footer: #292929;

// ========= fonts
$main-font: 'Roboto', sans-serif;

$timing-function: cubic-bezier(0.4, 0, 0.2, 1);
$duration: 300ms;
$btn-duration: 500ms;

//=========== new styles
$bg-color2: #546e7a;
$bg-color: #37474f;

$indigo: #3f51b5;
$indigo-accent: #303f9f;
$red: #f44336;
$red-accent: #d32f2f;
$green: #4caf50;
$black: #2a2a2a;
$white: #fff;
