<form class="noteEditor" id="form">
  <input
    class="editorInput input"
    type="text"
    name="name"
    placeholder="Name"
    pattern="^[a-zA-Zа-яА-Я]+(([' -][a-zA-Zа-яА-Я ])?[a-zA-Zа-яА-Я]*)*$"
    title="The name can only consist of letters, apostrophe, dashes, and spaces."
    required
    value=""
  />
  <select class="editorInput select" name="category" value="hello" required>
    <option value="" disabled selected>--Please choose a category--</option>
    <option value="Task">Task</option>
    <option value="Idea">Idea</option>
    <option value="RandomThought">Random Thought</option>
  </select>
  <textarea
    class="noteEditorTextarea textarea"
    name="message"
    value=""
    placeholder="your note here.."
  ></textarea>
  <button class="noteEditorBtn" type="submit">Save note</button>
</form>
