<div class="container2">
  <div class="btn-wrapper">
    <button class="btn modal squareButton" type="button">
      Add Note <i class="fa fa-check-square-o" aria-hidden="true"></i>
    </button>
  </div>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Created</th>
        <th>Category</th>
        <th>Content</th>
        <th>Dates</th>
        <th><i class="fa fa-pencil fa-lg" aria-hidden="true"></i></th>
        <th><i class="fa fa-archive fa-lg" aria-hidden="true"></i></th>
        <th><i class="fa fa-trash fa-lg" aria-hidden="true"></i></th>
      </tr>
    </thead>
    <tbody class="notes-list">
      <!-- render notes -->
    </tbody>
  </table>
</div>
